<div class="w-full max-w-screen-lg mx-auto">
  <table class="min-w-full bg-white">
    <thead>
      <tr>
        <th class="px-6 py-3 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Latitude</th>
        <th class="px-6 py-3 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Longitude</th>
        <th class="px-6 py-3 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Weather</th>
        <th class="px-6 py-3 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Description</th>
        <th class="px-6 py-3 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Pressure</th>
        <th class="px-6 py-3 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Humidity</th>
        <th class="px-6 py-3 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Country</th>
        <th class="px-6 py-3 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider">Name</th>
      </tr>
    </thead>
    <tbody>
      <% @weather_data.each do |weather| %>
        <tr>
          <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-900"><%= weather.lat %></td>
          <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-900"><%= weather.lon %></td>
          <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-900"><%= weather.weather %></td>
          <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-900"><%= weather.description %></td>
          <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-900"><%= weather.pressure %></td>
          <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-900"><%= weather.humidity %></td>
          <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-900"><%= weather.country %></td>
          <td class="px-6 py-4 whitespace-no-wrap text-sm leading-5 text-gray-900"><%= weather.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="mt-4">
    <%= will_paginate @weather_data %>
  </div>
</div>
